html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Oswald;
  margin: 0;
  padding: 0;
}

#global-container {
  width: 100vw;
  height: 1600px;
  background-color: #e2e2e2;
}

#container {
  position: relative;
  width: 100vw;
  height: 1500px;
  z-index: 2;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#container .header-menu {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #00052b;
  background-size: 30% 220%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .header-menu .header_left {
  position: absolute;
  width: 8%;
  height: 100%;
  top: 0;
  left: 3%;
}

#container .header-menu .header_left .app-title {
  width: 100%;
  height: 100%;
  color: white;
  background-image: url(/assets/1.jpg);
  background-size: 100% 100%;
  position: absolute;
}

#container .header-menu .header-right {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0;
  left: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#container .header-menu .header-right .header-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

#container .header-menu .header-right .header-link a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

#container .top-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  top: 100px;
  left: 0;
  z-index: -10;
}

.mobile-menu {
  position: fixed;
  right: 0%;
  top: 0%;
  width: 300px;
  height: 100vh;
  visibility: hidden;
  background-color: #00052b;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mobile-menu__btn {
  background-color: unset;
  border: none;
  outline: none !important;
  cursor: pointer;
  position: absolute;
  top: 30%;
  right: 10%;
}

.mobile-menu__btn > span {
  background-color: white;
  -webkit-box-shadow: 0px 0px 2px #ffffff;
          box-shadow: 0px 0px 2px #ffffff;
  width: 35px;
  height: 2px;
  display: block;
  margin-bottom: 9px;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.mobile-menu__btn > span:last-child {
  margin-bottom: 0;
}

.mobile-menu__cover {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  cursor: pointer;
  z-index: 20;
}

.mobile-menu__main {
  padding: 0;
  -webkit-perspective: 2000px;
          perspective: 2000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.mobile-menu__item {
  list-style: none;
  display: block;
  -webkit-transform: translate3d(0, 0, -1000px);
          transform: translate3d(0, 0, -1000px);
  padding: 0 40px;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s, -webkit-transform 0.3s;
  opacity: 0;
}

.mobile-menu__link {
  display: block;
  margin-top: 30px;
  color: black;
  text-decoration: none;
}

.menu-open #container {
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  -webkit-box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
}

.menu-open .mobile-menu {
  visibility: visible;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.menu-open .mobile-menu__cover {
  opacity: 1;
  visibility: visible;
}

.menu-open .mobile-menu__item {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.menu-open .mobile-menu__item:nth-child(1) {
  -webkit-transition-delay: 0.07s;
          transition-delay: 0.07s;
}

.menu-open .mobile-menu__item:nth-child(2) {
  -webkit-transition-delay: 0.14s;
          transition-delay: 0.14s;
}

.menu-open .mobile-menu__item:nth-child(3) {
  -webkit-transition-delay: 0.21s;
          transition-delay: 0.21s;
}

.menu-open .mobile-menu__item:nth-child(4) {
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}

.menu-open .mobile-menu__item:nth-child(5) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu-open .mobile-menu__btn > span {
  background-color: white;
  -webkit-box-shadow: 0px 0px 2px #ffffff;
          box-shadow: 0px 0px 2px #ffffff;
}

.menu-open .mobile-menu__btn > span:nth-child(1) {
  -webkit-transition-delay: 70ms;
          transition-delay: 70ms;
  -webkit-transform: translateY(11px) rotate(135deg);
          transform: translateY(11px) rotate(135deg);
}

.menu-open .mobile-menu__btn > span:nth-child(2) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translateX(-18px) scaleX(0);
          transform: translateX(-18px) scaleX(0);
}

.menu-open .mobile-menu__btn > span:nth-child(3) {
  -webkit-transition-delay: 140ms;
          transition-delay: 140ms;
  -webkit-transform: translateY(-11px) rotate(-135deg);
          transform: translateY(-11px) rotate(-135deg);
}

.main-title {
  font-weight: 600;
  font-size: 25px;
  color: white;
}

.sub-title {
  display: block;
  font-size: 14px;
  color: white;
}

@-webkit-keyframes kf-slide {
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  99% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    visibility: hidden;
  }
}

@keyframes kf-slide {
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  99% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    visibility: hidden;
  }
}

@-webkit-keyframes kf-slide-top {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    -webkit-box-shadow: 0px 0px 10px black;
            box-shadow: 0px 0px 10px black;
  }
}

@keyframes kf-slide-top {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    -webkit-box-shadow: 0px 0px 10px black;
            box-shadow: 0px 0px 10px black;
  }
}

@-webkit-keyframes ke-before-border {
  0% {
    width: 0%;
  }
  100% {
    width: 25%;
  }
}

@keyframes ke-before-border {
  0% {
    width: 0%;
  }
  100% {
    width: 25%;
  }
}

@-webkit-keyframes kf-us-title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes kf-us-title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes kf-back {
  0% {
    background-image: url(/assets/adult-1852965_1280.jpg);
  }
  33% {
    background-image: url(/assets/coffee-2288708_1280.jpg);
  }
  66% {
    background-image: url(/assets/coffee-926759_1920.jpg);
  }
  100% {
    background-image: url(/assets/adult-1852965_1280.jpg);
  }
}

@keyframes kf-back {
  0% {
    background-image: url(/assets/adult-1852965_1280.jpg);
  }
  33% {
    background-image: url(/assets/coffee-2288708_1280.jpg);
  }
  66% {
    background-image: url(/assets/coffee-926759_1920.jpg);
  }
  100% {
    background-image: url(/assets/adult-1852965_1280.jpg);
  }
}

@-webkit-keyframes kf-top-title {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes kf-top-title {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.main-list-title {
  position: absolute;
  width: 50%;
  height: 10%;
  font-size: 50px;
  top: 1%;
  left: 2%;
  display: inline-block;
  font-weight: 600;
  color: #ff5100;
}

.main-list-title::after {
  content: "";
  height: 3px;
  position: absolute;
  top: 28%;
  left: 36%;
  display: inline-block;
  z-index: 0;
  background-color: black;
  -webkit-animation: ke-before-border 2s both;
          animation: ke-before-border 2s both;
}

.sub-list-title {
  position: absolute;
  width: 50%;
  height: 10%;
  font-size: 20px;
  top: 5%;
  left: 7.5%;
  display: inline-block;
  font-weight: 600;
  color: black;
}

.search-form {
  position: absolute;
  top: 2%;
  right: 0;
  width: 30%;
  height: 100px;
}

.search-form .search-group {
  margin-top: 2%;
  height: 60%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-form .search-group .search-field {
  width: 100%;
  height: 80%;
  outline: none;
  padding-left: 2%;
  padding-right: 9%;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 10px;
}

.search-form .search-group .search-field::-webkit-input-placeholder {
  font-size: 16px;
  text-shadow: 1px 1px 2px gray;
}

.search-form .search-group .search-field:-ms-input-placeholder {
  font-size: 16px;
  text-shadow: 1px 1px 2px gray;
}

.search-form .search-group .search-field::-ms-input-placeholder {
  font-size: 16px;
  text-shadow: 1px 1px 2px gray;
}

.search-form .search-group .search-field::placeholder {
  font-size: 16px;
  text-shadow: 1px 1px 2px gray;
}

.search-form .search-group .search-btn {
  display: none;
}

.search-form .search-group .btn_label {
  height: 80%;
  width: 15%;
  position: relative;
  top: 0%;
  left: 0%;
  z-index: 0;
}

.search-form .search-group .btn_label .fas {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 25%;
  left: -80%;
  font-size: 30px;
  cursor: pointer;
}

.search-form .search-group .btn_label .fas:hover {
  color: #0dc4b4;
}

.list-ul {
  position: absolute;
  top: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 90vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.list-ul .list-li {
  position: relative;
  width: 400px;
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  background-color: #4a5252;
  margin-bottom: 2%;
  margin-right: 2%;
}

.list-ul .list-li .list-name {
  position: absolute;
  bottom: 0%;
  right: 3%;
  font-size: 18px;
  text-decoration: none;
  text-shadow: 2px 2px 2px #2b363a;
}

.list-ul .list-li .list-name .name-sub {
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.list-ul .list-li .list-name a {
  color: aquamarine;
  text-decoration: none;
}

.list-ul .list-li .list-time {
  position: absolute;
  bottom: 7%;
  right: 5%;
  font-size: 15px;
  color: white;
  text-shadow: 2px 2px 2px #2b363a;
}

.list-ul .list-li .list-title {
  position: absolute;
  bottom: 11%;
  left: 15%;
  font-size: 20px;
}

.list-ul .list-li .list-title a {
  text-decoration: none;
  color: #fdfdfd;
  text-shadow: 2px 2px 2px #445055;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}

.list-ul .list-li .list-title a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-shadow: 0px 0px 20px #ebc003;
}

.list-ul .list-li .test-img {
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 300px;
  height: 300px;
  overflow: hidden;
  -o-object-fit: fill;
     object-fit: fill;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-ul .list-li .test-img video {
  width: 300px;
  height: 300px;
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.list-ul .list-li .test-img img {
  width: 300px;
  height: 300px;
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.list-ul .list-li .test-img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.list-ul .pagination {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  list-style: none;
  font-size: 30px;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translateX(-52%);
          transform: translateX(-52%);
}

.list-ul .pagination a {
  display: inline-block;
  text-decoration: none;
  color: #462703;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.list-ul .pagination a:hover {
  color: #5de006;
}
/*# sourceMappingURL=list.css.map */