$cWhite: white;
$cBlack: black;
html{
    margin: 0;
    padding: 0;
}
body{
  font-family: Oswald;
  margin: 0;
  padding: 0;
}
#global-container{
  width: 100vw;
  height: 1600px;
  background-color: rgb(226, 226, 226);
}
#container {
    position: relative;
    width: 100vw;
    height: 1500px;
    z-index: 2;
    transition: all 0.5s;
    & .header-menu{
      position: fixed;
      width: 100%;
      height: 100px;
      background-color:rgba($color: #00052b, $alpha: 1);
      background-size: 30% 220%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & .header_left{
        position: absolute;
        width: 8%;
        height: 100%;
        top: 0;
        left: 3%;
        

        & .app-title{
            width: 100%;
            height: 100%;
            color: $cWhite;
            background-image: url(/assets/1.jpg);
            background-size: 100% 100%;
            position: absolute;
         
        }
      }
      & .header-right{
        position: absolute;
        width: 40%;
        height: 100%;
        top: 0;
        left: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        & .header-link{
          display: flex;
          justify-content: space-around;
          width: 50%;
          & a{
            text-decoration: none;
            color: $cWhite;
            font-size: 20px;
          }
          
        }

      }
    }
    & .top-wrapper{
        width: 100%;
        height: 100%;
        position: relative;
        top: 100px;
        left: 0;
        z-index: -10;
        
    }
    
    
    
}

.mobile-menu {
    position: fixed;
    right: 0%;
    // top: 200px;
    top: 0%;
    width: 300px;
    height: 100vh;
    visibility: hidden;
    background-color:rgba($color: #00052b, $alpha: 1);
    transform: translateX(100%);
    transition: 0.5s;
    &__btn {
        background-color: unset;
        border: none;
        outline: none !important;
        cursor: pointer;
        position: absolute;
            top: 30%;
            right: 10%;
        
    
        & > span {
            background-color: $cWhite;
            box-shadow : 0px 0px 2px #ffffff ;
            width: 35px;
            height: 2px;
            display: block;
            margin-bottom: 9px;
            transition: transform 0.7s;
            
    
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__cover {
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s;
        cursor: pointer;
        z-index: 20;
       
        
    }
    &__main {
        padding: 0;
        perspective: 2000px;
        transform-style: preserve-3d;
    }
    &__item {
        list-style: none;
        display: block;
        transform: translate3d(0, 0, -1000px);
        padding: 0 40px;
        transition: transform 0.3s, opacity 0.2s;
        opacity: 0;
        margin-top: 13%;
    }
    &__link {
        display: block;
        margin-top: 30px;
        color: $cBlack;
        text-decoration: none;
    }
}

.menu-open {
    & #container {
        transform: translateX(-300px);
        box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
    }
    
    & .mobile-menu {
        visibility: visible;
        transform: translateX(0%);
        &__cover {
            opacity: 1;
            visibility: visible;
            
        }
        &__item {
            transform: none;
            opacity: 1;

            @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                    transition-delay: $i * 0.07s;
                }
            }
        }
        &__btn {
            & > span {
                background-color: $cWhite;
                box-shadow : 0px 0px 2px #ffffff ;
    
                &:nth-child(1) {
                    transition-delay: 70ms;
                    transform: translateY(11px) rotate(135deg);
                }
                &:nth-child(2) {
                    transition-delay: 0s;
                    transform:  translateX(-18px) scaleX(0);
                }
                &:nth-child(3) {
                    transition-delay: 140ms;
                    transform: translateY(-11px) rotate(-135deg);
                }
            }
        }
    }
}

.main-title {
    font-weight: 600;
    font-size: 24px;
    color: $cWhite;
}
.sub-title {
    display: block;
    padding-top: 4%;
    font-size: 12px;
    color: $cWhite;
    font-weight: 600;
    margin-bottom: 3%;
    
}
.link-dec{
    text-decoration: none;
}
@keyframes kf-slide{
   
    50%{
        transform: translateX(0);
        opacity: 1;
    }
    99%{
        transform: translateX(100%);
        opacity: 1;
    }
    100%{
        transform: translateX(100%);
        visibility: hidden;
    }
}
@keyframes kf-slide-top{
    0%{
        transform: translateX(-25%);
        opacity: 0;
    }
    50%{
      transform: translateX(0);
       opacity: 1;
       box-shadow: none;
        
    }
    100%{
        transform: translateX(0);
        opacity: 1;
        box-shadow: 0px 0px 10px black;
        
    }
}
@keyframes ke-before-border{
    0%{
        width: 0%;
    }
    100%{
       width: 25%; 
    }
}
@keyframes kf-us-title{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes kf-back{
    0%{
        background-image: url(/assets/adult-1852965_1280.jpg);
    }
    33%{
        background-image: url(/assets/coffee-2288708_1280.jpg);
    }
    66%{
        background-image: url(/assets/coffee-926759_1920.jpg);
    }
    100%{
        background-image: url(/assets/adult-1852965_1280.jpg)
    }
}
@keyframes kf-top-title{
    0%{
        opacity: 0;
        transform: translateX(-15%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.main-list-title{
    position: absolute;
    width: 50%;
    height: 10%;
    font-size: 50px;
    top: 1%;
    left: 2%;
    display: inline-block;
    font-weight: 600;
    color: rgb(255, 81, 0);
    &::after{
        content: "";
        height: 3px;
        position: absolute;
        top: 20%;
        left: 36%;
        display: inline-block;
        z-index: 0;
        background-color: $cBlack;
        animation: ke-before-border 2s both;
    }
}
.sub-list-title{
    position: absolute;
    width: 50%;
    height: 10%;
    font-size: 20px;
    top: 5%;
    left: 7.5%;
    display: inline-block;
    font-weight: 600;
    color: black;
}
.search-form{
    position: absolute;
    top: 2%;
    right: 0;
    width: 30%;
    height: 100px;
    & .search-group{
        margin-top: 2%;
        height: 60%;
        width: 100%;
        display: flex;
        justify-content: center;
        & .search-field{
          width: 100%;
          height: 80%;
          outline: none;
          padding-left: 2%;
          padding-right: 9%;
          font-size: 20px;
          border: 2px solid black;
          border-radius: 10px;
          &::placeholder{
            font-size: 16px;
            text-shadow: 1px 1px 2px gray;
          }
        }
        & .search-btn{
          display: none;
        }
        & .btn_label{
          height: 80%;
          width: 15%;
          position: relative;
          top: 0%;
          left: 0%;
          z-index: 0;
          & .fas{
              position: absolute;
              z-index: 10;
              width: 100%;
              height: 100%;
              top: 25%;
              left: -80%;
              font-size: 30px;
              cursor: pointer;
              &:hover{
                  color: rgb(13, 196, 180);
              }
          }
        }
    }    
}
.list-ul{
    position: absolute;
    top: 8%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90vw;
    left: 50%;
    transform: translateX(-50%);
    & .list-li{
       position: relative;
       width: 400px;
       height: 370px;
       display: flex;
       flex-direction: column;
       align-items: center;
       padding-top: 30px;
       background-color: rgb(74, 82, 82);
       margin-bottom: 2%;
       margin-right: 2%;
       & .list-name{
           position: absolute;
           bottom: 1%;
           right: 3%;
           font-size: 18px;
           text-decoration: none;
           text-shadow: 2px 2px 2px rgb(43, 54, 58);
           & .name-sub{
               color: white;
               font-size: 12px;
               font-weight: 600;
               
           }
           & a{
               color: aquamarine;
               text-decoration: none;
           }

       }
       & .list-time{
           position: absolute;
           bottom: 7%;
           right: 5%;
           font-size: 15px;
           color: white;
           text-shadow: 2px 2px 2px rgb(43, 54, 58);
       }
       & .list-title{
           position: absolute;
           bottom: 11%;
           left: 15%;
           font-size: 20px;
           
           & a{
              text-decoration: none;
              color: rgb(253, 253, 253);
              text-shadow: 2px 2px 2px rgb(68, 80, 85);
              transition: all 0.3s;
              display: inline-block;
              &:hover{
                  transform: scale(1.1);
                  text-shadow: 0px 0px 20px rgb(235, 192, 3);
              }
           }
       }
       & .test-img{
           position: absolute;
           top: 5%;
           left: 50%;
           transform: translateX(-50%);
           width:300px;
           height: 300px;
           overflow: hidden;
           object-fit: fill;
           display: flex;
            & video{
                width: 300px;
                height: 300px;
                object-fit: fill;
                transition: all 0.4s;
            }
            & img{
                width:300px;
                height: 300px;
                object-fit: fill;
                transition: all 0.4s;
                &:hover{
                   transform: scale(1.2);
                   
                }
            }
        }
    }
    & .pagination{
        position: relative;
       display: flex;
       justify-content: space-between;
       align-items: center;
       width: 80%;
       list-style: none;
       font-size: 30px;
       bottom: 0%;
       left: 50%;
       transform: translateX(-52%);
       & a{
           display: inline-block;
           text-decoration: none;
           color: rgb(70, 39, 3);
           transition: all 0.3s;
           &:hover{
               color: rgb(93, 224, 6);
           }
       }
    }
}
