html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Oswald;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

#global-container {
  width: 100vw;
  height: 1300px;
  background-color: #e2e2e2;
}

#container {
  position: relative;
  width: 100vw;
  height: 1200px;
  z-index: 2;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#container .header-menu {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #00052b;
  background-size: 30% 220%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .header-menu .header_left {
  position: absolute;
  width: 8%;
  height: 100%;
  top: 0;
  left: 3%;
}

#container .header-menu .header_left .app-title {
  width: 100%;
  height: 100%;
  color: white;
  background-image: url(/assets/1.jpg);
  background-size: 100% 100%;
  position: absolute;
}

#container .header-menu .header-right {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0;
  left: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#container .header-menu .header-right .header-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

#container .header-menu .header-right .header-link a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

#container .top-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  top: 100px;
  left: 0;
  z-index: -10;
}

#container .top-wrapper .img-ul {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 90%;
  height: 350px;
  background-color: #4a5252;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  border-radius: 5px;
}

#container .top-wrapper .img-ul .img-li {
  width: 290px;
  height: 290px;
  overflow: hidden;
  -o-object-fit: fill;
     object-fit: fill;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-right: 1%;
  margin-left: 1%;
  border: 3px solid black;
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
}

#container .top-wrapper .img-ul .img-li video {
  width: 290px;
  height: 290px;
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#container .top-wrapper .img-ul .img-li img {
  width: 290px;
  height: 290px;
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#container .top-wrapper .img-ul .img-li img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#container .top-wrapper .text-area {
  position: relative;
  width: 40%;
  height: 35%;
  background-color: #4a5252;
  top: 57.5%;
  left: 5%;
}

#container .top-wrapper .text-area .user-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  border-bottom: 2px solid #a5a4a4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  color: white;
  background-color: #2a404b;
  text-shadow: 2px 2px 3px black;
}

#container .top-wrapper .text-area .user-text {
  position: absolute;
  top: 15%;
  left: 0;
  width: 95%;
  height: 57%;
  font-size: 20px;
  padding-top: 3%;
  color: white;
  text-indent: 2em;
  word-break: break-all;
  overflow: scroll;
  padding-left: 2.5%;
  padding-right: 2.5%;
  line-height: 1.1em;
}

#container .top-wrapper .text-area .user-name {
  position: absolute;
  top: 80%;
  left: 0;
  width: 95%;
  height: 20%;
  padding-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
}

#container .top-wrapper .text-area .user-name .name-link {
  color: greenyellow;
}

#container .top-wrapper .comment-area {
  position: absolute;
  width: 40%;
  height: 35%;
  background-color: #4a5252;
  top: 57.5%;
  right: 5%;
}

#container .top-wrapper .comment-area .comment-form-area {
  position: relative;
  width: 100%;
  height: 20%;
  left: 0%;
}

#container .top-wrapper .comment-area .comment-form-area .with-all {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#container .top-wrapper .comment-area .comment-form-area .with-all .btn-form {
  height: 80%;
}

#container .top-wrapper .comment-area .comment-form-area .with-all .btn-form #submit-btn {
  display: none;
}

#container .top-wrapper .comment-area .comment-form-area .with-all .btn-form .fas {
  font-size: 30px;
  position: absolute;
  right: 8%;
  top: 50%;
  -webkit-transform: translateY(-65%);
          transform: translateY(-65%);
}

#container .top-wrapper .comment-area .comment-form-area .with-all .btn-form .fas:hover {
  color: deepskyblue;
}

#container .top-wrapper .comment-area .comment-form-area .with-all .text-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#container .top-wrapper .comment-area .comment-form-area .with-all .text-form .with-text {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  height: 80%;
  resize: none;
  border-radius: 15px;
  padding-right: 10%;
  padding-left: 3%;
  font-size: 16px;
  outline: none;
}

#container .top-wrapper .comment-area .comment-form-area .with-all .text-form .with-text::-webkit-input-placeholder {
  font-size: 15px;
}

#container .top-wrapper .comment-area .comment-form-area .with-all .text-form .with-text:-ms-input-placeholder {
  font-size: 15px;
}

#container .top-wrapper .comment-area .comment-form-area .with-all .text-form .with-text::-ms-input-placeholder {
  font-size: 15px;
}

#container .top-wrapper .comment-area .comment-form-area .with-all .text-form .with-text::placeholder {
  font-size: 15px;
}

#container .top-wrapper .comment-area .comment-text-area {
  height: 80%;
  width: 100%;
  overflow: scroll;
}

#container .top-wrapper .comment-area .comment-text-area li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e5e8eb;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 3px solid #79797a;
  padding-bottom: 1.5%;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 1%;
}

#container .top-wrapper .comment-area .comment-text-area li .comment-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#container .top-wrapper .comment-area .comment-text-area li .comment-right a {
  color: #00a2ff;
}

.mobile-menu {
  position: fixed;
  right: 0%;
  top: 0%;
  width: 300px;
  height: 100%;
  visibility: hidden;
  background-color: #00052b;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mobile-menu__btn {
  background-color: unset;
  border: none;
  outline: none !important;
  cursor: pointer;
  position: absolute;
  top: 30%;
  right: 10%;
}

.mobile-menu__btn > span {
  background-color: white;
  -webkit-box-shadow: 0px 0px 2px #ffffff;
          box-shadow: 0px 0px 2px #ffffff;
  width: 35px;
  height: 2px;
  display: block;
  margin-bottom: 9px;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.mobile-menu__btn > span:last-child {
  margin-bottom: 0;
}

.mobile-menu__cover {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  cursor: pointer;
  z-index: 20;
}

.mobile-menu__main {
  padding: 0;
  -webkit-perspective: 2000px;
          perspective: 2000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.mobile-menu__item {
  list-style: none;
  display: block;
  -webkit-transform: translate3d(0, 0, -1000px);
          transform: translate3d(0, 0, -1000px);
  padding: 0 40px;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s, -webkit-transform 0.3s;
  opacity: 0;
}

.mobile-menu__link {
  display: block;
  margin-top: 30px;
  color: black;
  text-decoration: none;
}

.menu-open #container {
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  -webkit-box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
}

.menu-open .mobile-menu {
  visibility: visible;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.menu-open .mobile-menu__cover {
  opacity: 1;
  visibility: visible;
}

.menu-open .mobile-menu__item {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.menu-open .mobile-menu__item:nth-child(1) {
  -webkit-transition-delay: 0.07s;
          transition-delay: 0.07s;
}

.menu-open .mobile-menu__item:nth-child(2) {
  -webkit-transition-delay: 0.14s;
          transition-delay: 0.14s;
}

.menu-open .mobile-menu__item:nth-child(3) {
  -webkit-transition-delay: 0.21s;
          transition-delay: 0.21s;
}

.menu-open .mobile-menu__item:nth-child(4) {
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}

.menu-open .mobile-menu__item:nth-child(5) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu-open .mobile-menu__btn > span {
  background-color: white;
  -webkit-box-shadow: 0px 0px 2px #ffffff;
          box-shadow: 0px 0px 2px #ffffff;
}

.menu-open .mobile-menu__btn > span:nth-child(1) {
  -webkit-transition-delay: 70ms;
          transition-delay: 70ms;
  -webkit-transform: translateY(11px) rotate(135deg);
          transform: translateY(11px) rotate(135deg);
}

.menu-open .mobile-menu__btn > span:nth-child(2) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translateX(-18px) scaleX(0);
          transform: translateX(-18px) scaleX(0);
}

.menu-open .mobile-menu__btn > span:nth-child(3) {
  -webkit-transition-delay: 140ms;
          transition-delay: 140ms;
  -webkit-transform: translateY(-11px) rotate(-135deg);
          transform: translateY(-11px) rotate(-135deg);
}

.main-title {
  font-weight: 600;
  font-size: 25px;
  color: white;
}

.sub-title {
  display: block;
  font-size: 14px;
  color: white;
}

@-webkit-keyframes kf-slide {
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  99% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    visibility: hidden;
  }
}

@keyframes kf-slide {
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  99% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    visibility: hidden;
  }
}

@-webkit-keyframes kf-slide-top {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    -webkit-box-shadow: 0px 0px 10px black;
            box-shadow: 0px 0px 10px black;
  }
}

@keyframes kf-slide-top {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    -webkit-box-shadow: 0px 0px 10px black;
            box-shadow: 0px 0px 10px black;
  }
}

@-webkit-keyframes ke-before-border {
  0% {
    width: 0%;
  }
  100% {
    width: 15%;
  }
}

@keyframes ke-before-border {
  0% {
    width: 0%;
  }
  100% {
    width: 15%;
  }
}

@-webkit-keyframes kf-us-title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes kf-us-title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes kf-back {
  0% {
    background-image: url(/assets/adult-1852965_1280.jpg);
  }
  33% {
    background-image: url(/assets/coffee-2288708_1280.jpg);
  }
  66% {
    background-image: url(/assets/coffee-926759_1920.jpg);
  }
  100% {
    background-image: url(/assets/adult-1852965_1280.jpg);
  }
}

@keyframes kf-back {
  0% {
    background-image: url(/assets/adult-1852965_1280.jpg);
  }
  33% {
    background-image: url(/assets/coffee-2288708_1280.jpg);
  }
  66% {
    background-image: url(/assets/coffee-926759_1920.jpg);
  }
  100% {
    background-image: url(/assets/adult-1852965_1280.jpg);
  }
}

@-webkit-keyframes kf-top-title {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes kf-top-title {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.main-list-title {
  position: absolute;
  width: 50%;
  height: 10%;
  font-size: 50px;
  top: 1%;
  left: 2%;
  display: inline-block;
  font-weight: 600;
  color: #ff5100;
}

.sub-list-title {
  position: absolute;
  width: 50%;
  height: 10%;
  font-size: 20px;
  top: 6%;
  left: 7.5%;
  display: inline-block;
  font-weight: 600;
  color: black;
}

.main-img-title {
  position: absolute;
  width: 40%;
  height: 10%;
  font-size: 45px;
  top: 11%;
  left: 3%;
  display: inline-block;
  font-weight: 600;
  color: black;
}

.main-img-title::after {
  content: "";
  height: 3px;
  position: absolute;
  top: 22%;
  left: 25%;
  display: inline-block;
  z-index: 0;
  background-color: black;
  -webkit-animation: ke-before-border 2s both;
          animation: ke-before-border 2s both;
}

.sub-img-title {
  position: absolute;
  width: 40%;
  height: 10%;
  font-size: 15px;
  top: 16%;
  left: 5%;
  display: inline-block;
  font-weight: 600;
  color: black;
}

.main-text-title {
  position: absolute;
  width: 40%;
  height: 10%;
  font-size: 45px;
  top: 50%;
  left: 3%;
  display: inline-block;
  font-weight: 600;
  color: black;
}

.main-text-title::after {
  content: "";
  height: 3px;
  position: absolute;
  top: 20%;
  left: 32%;
  display: inline-block;
  z-index: 0;
  background-color: black;
  -webkit-animation: ke-before-border 2s both;
          animation: ke-before-border 2s both;
}

.sub-text-title {
  position: absolute;
  width: 40%;
  height: 10%;
  font-size: 15px;
  top: 54%;
  left: 7%;
  display: inline-block;
  font-weight: 600;
  color: black;
}

.main-comment-title {
  position: absolute;
  width: 40%;
  height: 10%;
  font-size: 45px;
  top: 50%;
  left: 53%;
  display: inline-block;
  font-weight: 600;
  color: black;
}

.main-comment-title::after {
  content: "";
  height: 3px;
  position: absolute;
  top: 20%;
  left: 32%;
  display: inline-block;
  z-index: 0;
  background-color: black;
  -webkit-animation: ke-before-border 2s both;
          animation: ke-before-border 2s both;
}

.sub-comment-title {
  position: absolute;
  width: 40%;
  height: 10%;
  font-size: 15px;
  top: 54%;
  left: 57%;
  display: inline-block;
  font-weight: 600;
  color: black;
}
/*# sourceMappingURL=show.css.map */